.photoContainer {
    width:1945px;
    height:900px;
    display: flex;
    flex-direction: column;
    position:absolute;
    background-image: url(https://ipt.imgix.net/198561/x/0/icelandicpaintings-albertdros-12.jpg?w=860&h=480&fit=crop&dpr=2&auto=format%2C%20compress&ixlib=react-8.6.4);
    background-size: 100%;
    background-repeat: no-repeat;
}

.image  {
    max-width: 300px;
    max-height: 200px;
    margin:20px;
}
.photoBucket {
    background-color: white;
    border:4px;
    border-radius: 8px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:900px;
    height:700px;
    align-items: center;
    margin-top: 20px;
    margin-left:550px;
    padding:0;
    overflow: scroll;
    position: relative;
    border-style: solid;
    border-width: thin;
}

.uploadImage {
    width:40px;
    height: 40px;
    padding:0;
    border:0;
    margin-left: 972px;
    margin-top: 20px;
    padding-top: 10px;
}

.createAlbumBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size:29px;
    font-weight:lighter;
    position:relative;
    margin-left: -450px;
    margin-top: 30px;
    border-radius: 7px;
    border-style:solid;
    border-width:thin;
    cursor: pointer;
}

.viewAlbumBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size:29px;
    font-weight:lighter;
    position:relative;
    margin-left: 248px;
    margin-top: 30px;
    border-radius: 7px;
    border-style:solid;
    border-width:thin;
    cursor: pointer;
}

.linkDiv {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}