.navBar {
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 17pt;
    margin:0px;
    width:100%;
    
}
.navContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    text-decoration: none;
    color:whitesmoke;
}
.search{
    display: flex;
}
.searchInput {
    width:600pt;
    background-color: rgb(244, 244, 244);
    border:0;
}
.searchSubmit {
    cursor: pointer;
    background: rgb(228, 224, 224);
    max-height: 30px;
    max-width: 30px;
    padding:0;
    border:0;
    margin-left: 3px;
}
.magGlass {
    max-width: 100%;
    max-height: 100%;
    padding:0;
}
.profileBtn {
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
    background-color: black;
    border:0;
    cursor:pointer;
    font-size: 22px;
}

.logoutBtn {
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
    background-color: black;
    border:0;
    cursor:pointer;
    font-size: 22px;
}